<div class="control-group">
  <%= f.label :title %>
  <div class="controls">
    <%= f.text_field :title, :autofocus => true, placeholder: 'Enter Title' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :body %>
  <div class="controls">
    <%= f.text_area :body %>
  </div>
</div>


<% if current_user.id == @wiki.user_id %>
<div class="control-group">
    <%= f.label :public %>
    <div class="controls">
      <%= f.check_box :public %>Public Wiki (You must be a premium member to create a private wiki)
    </div>
  </div>

<% end %>
<%= link_to "preview", "#", :id => "previewLink" %>

 <div id="epiceditor"></div>