<table class = "table">
  <theader>
    <th><%= sortable "title" %></th>
    <th><%= sortable "updated_at" %></th>
    <th>Options</td>
  </theader>
  <tbody>
    <% @wikis.each do |wiki| %>
      <tr id="<%= dom_id(wiki) %>">
        <td>
          <%= wiki.title %>   
        </td>
        <td>
          <i><%= time_ago_in_words(wiki.updated_at) %> ago</i>
        </td>
        <td>
          <%= link_to "Edit", edit_wiki_path(wiki) %> | 
          <%= link_to "Delete", wiki_path(wiki), method: :delete, data: { confirm: 'Are you sure you want to delete #{wiki.title}' },remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>