<table class="table table-bordered sortable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Updated At</th>
      <th>Options</td>
    </tr>
  </thead>
  <tbody>
    <% @wikis.each do |wiki| %>
      <tr id="<%= dom_id(wiki) %>">
        <td>
          <%= wiki.title %>   
        </td>
        <td data-value="<%= wiki.updated_at %>">
          <i><%= time_ago_in_words(wiki.updated_at) %> ago</i>
        </td>
        <td>
          <%= link_to "Edit", edit_wiki_path(wiki) %> | 
          <%= link_to "Delete", wiki_path(wiki), method: :delete, data: { confirm: "Are you sure you want to delete the Wiki: '#{wiki.title}'"},remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>