<h1>Add Collaborators to your private wiki</h1>

<div class="span5">
  <table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Add Collaborator?</th>
    </tr>
  </thead>

   <tbody> 
    <% @users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td>
          <%= form_for @wiki, url: add_collaborators_wiki_path do |user| %>
          <%= check_box_tag ":collaborator_id[]", :user_id, @wiki.collaborators.include?(user) %>
          <% end %>
        </td>
      </tr> 
  <% end %>
  </table>
</div>

<div class="span5">
  <%= form_for @wiki, url: add_collaborators_wiki_path do |user| %>
  <%= user.submit 'Add collaborators' %>
  <% end %>
</div>