<!--<%= content_for :head do %>
  <test>Hi!</test>
  <%= stylesheet_link_tag 'wikis' %>
<% end %>-->

<h2>New Wiki!</h2>

<%= form_for @wiki do |f| %>
 <%= render 'form', :f => f %>

  <div class="control-group">
    <%= f.submit "Create Wiki!", class: 'btn', :id => "submitBtn" %></div>
<% end %>